* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9fafc;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header */
.main-header {
  width: 100%;
  background-color: #0056b3;
  /* blue */
  padding: 1rem 2rem;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* space out logo and text */
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.logo {
  height: 50px;
  width: 50px;
  object-fit: contain;
  flex-shrink: 0;
  border-radius: 25px;
}

/* Center text within header */
.header-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.header-text h1 {
  font-size: 1.5rem;
  font-weight: bold;
}


.subheader {
  width: 100%;
  background: #fff1c3;
  text-align: center;
  padding: 20px;
  margin-top: 70px;
  box-shadow: 0 2px 4px rgba(0, 86, 179, 0.05);
}

.subheader .tagline {
  color: #0056b3;
  font-size: 1rem;
  font-style: italic;
  opacity: 0.95;
}
.subheader .tagline:hover {
  color: #12d473;
  cursor: pointer;
}

/* Dashboard Layout */
.dashboard-container {
  display: grid;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 50px;
  flex: 1;
}

.card {
  background: white;
  width: 300px;
  padding: 20px;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.card h2 {
  color: #0056b3;
  margin-bottom: 10px;
}

.card p {
  margin-bottom: 15px;
  font-size: 0.95em;
}

.card button {
  background-color: #0056b3;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9em;
}

.card button:hover {
  background-color: #12d473;
}

/* Footer */
.footer {
  background-color: #3d3d3d;
  color: white;
  text-align: center;
  padding: 12px;
  font-size: 0.9em;
}